#brainLogo {
  height: 50px;
  padding-bottom: 10px;
}

#brainTitle {
  width: 100px;
  height: 15px;
  padding-bottom: 10px;
}

#brainNav {
  background-color: black;
}

#brainNavFooter {
  background-color: black;
}
